@import url("https://fonts.googleapis.com/css?family=Lora");
/* ----------------------------------------------------------------- */
/*                              SMALL SCREEN                         */
/* ----------------------------------------------------------------- */
/* Responsive Images */
img {
  max-width: 100%;
  /*vertical-align: middle;*/
  background-position: center;
  image-rendering: optimizeQuality;
}

/* --------------------------------------------------------------- */
/*                             VARIABLES                           */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/*                             MIXINS                              */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/*                             FORMATTING                          */
/* --------------------------------------------------------------- */
/* links */
a:link {
  color: #666;
  text-decoration: none;
}
a:visited {
  color: #666;
  text-decoration: none;
}
a:active {
  color: #DEB887;
  text-decoration-color: #d0d0d0;
}
a:hover {
  color: #00ddff;
  text-decoration-color: #d0d0d0;
}

/* Title */
h1 a:hover {
  color: #333;
}

h1 a:link {
  color: #333;
}

/* Lists */
nav {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}

li {
  padding: 5px;
}

/* Dates */
/* body */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 14px;
}

/* headers */
h1 {
  font-family: "Lora";
  font-size: 65px;
  text-align: center;
  color: #333;
}

h2 {
  font-family: "Lora";
}

article {
  padding-bottom: 30px;
}

.post-content {
  border-bottom: 0.5px dashed #c4c4c4;
}

/* ----------------------------------------------------------------- */
/*                              SMALL SCREEN                         */
/* ----------------------------------------------------------------- */
/* Media Queries */
@media screen and (max-width: 600px) {
  div {
    padding: 2%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-gap: 20px;
  }
  ul {
    list-style-type: none; /* Remove bullets */
    font-family: "Lora";
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
  }
  li {
    float: none;
  }
  .post-date {
    text-transform: uppercase;
    text-align: right;
    border-bottom: 1px solid #d0d0d0;
    padding-top: 15px;
    padding-bottom: 5px;
  }
}
/* ----------------------------------------------------------------- */
/*                              LARGE SCREEN                         */
/* ----------------------------------------------------------------- */
@media screen and (min-width: 601px) {
  article {
    padding: 10px;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    grid-template-areas: "post-date post-content ";
  }
  ul {
    list-style-type: none; /* Remove bullets */
    text-transform: uppercase;
    font-family: "Lora";
    font-size: 18px;
    text-align: right;
    width: auto;
    display: flex;
    justify-content: right;
  }
  li {
    /*width: 100%;*/
    float: left;
    text-align: right;
    padding: 0.5em;
  }
  nav {
    float: left;
    padding-bottom: 0px;
    width: 100%;
  }
  .post-date {
    grid-area: post-date;
    text-transform: uppercase;
    text-align: right;
    border-right: 1px solid #d0d0d0;
    border-bottom: none;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-right: 10%;
  }
  .post-content {
    grid-area: post-content;
  }
  figure {
    margin-left: 25%;
    margin-right: 25%;
  }
}

/*# sourceMappingURL=main.css.map */
